{% extends template.self %}

{% block book_header %}
{{ super() }}
  <script type="text/javascript">
    window.intergramId = "-1001171733386";
    window.intergramServer = 'https://bot-intergram.windingtree.com';
    window.intergramCustomizations = {
      closedStyle: 'button', // button or chat
      closedChatAvatarUrl: 'https://raw.githubusercontent.com/windingtree/wt-media/master/logo-variants/tree/png/tree--gradient-on-white.png',  // only used if closedStyle is set to 'chat'
      cookieExpiration: 1, // in days. Once opened, closed chat title will be shown as button (when closedStyle is set to 'chat')
      titleClosed: 'Ask us anything!',
      titleOpen: 'Winding Tree tech team',
      introMessage: 'Feel free to ask anything regarding this documentation!',
      autoResponse: 'Thank you! We will get back to you as soon as we can.',
      autoNoResponse: 'Huh... It looks like nobody is listening at the moment. Leave us a more permanent contact (e-mail will do) and somebody will reach out to you.',
      mainColor: "#18e9a6", // Can be any css supported color 'red', 'rgb(255,87,34)', etc
      alwaysUseFloatingButton: false, // Use the mobile floating button also on large screens
      displayMessageTime: true, // Show or hide time indicators in the chat window
      displayBanner: true, // Show or hide banner on the bottom side of the chat window
      desktopHeight: 500, // Height of the chat window on desktop
      desktopWidth: 370, // Width of the chat window on desktop
    };
  </script>
  <script id="intergram" type="text/javascript" src="https://bot-intergram.windingtree.com/js/widget.js"></script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NP8LM54');</script>
  <!-- End Google Tag Manager -->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NP8LM54"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock %}
